services:
  gateway:
    image: ccr.ccs.tencentyun.com/private-0/api-hub-all:latest
    restart: always
    ports:
      - 8080:8080
    env_file:
      - ../../.env
    command: ["/app/gateway", "-f", "/app/etc/gateway-api.yaml"]
    depends_on:
      - auth
      - user
  oms:
    image: ccr.ccs.tencentyun.com/private-0/api-hub-all:latest
    restart: always
    ports:
      - 8081:8081
    env_file:
      - ../../.env
    command: ["/app/oms", "-f", "/app/etc/oms-api.yaml"]
    depends_on:
      - auth
      - user
  auth:
    image: ccr.ccs.tencentyun.com/private-0/api-hub-all:latest
    ports:
      - 8880:8880
    env_file:
      - ../../.env
    command: ["/app/auth", "-f", "/app/etc/auth.yaml"]
  user:
    image: ccr.ccs.tencentyun.com/private-0/api-hub-all:latest
    ports:
      - 8881:8881
    env_file:
      - ../../.env
    command: ["/app/user", "-f", "/app/etc/user.yaml"]
    depends_on:
      - auth
  monitor:
    image: ccr.ccs.tencentyun.com/private-0/api-hub-all:latest
    restart: always
    ports:
      - 8882:8882
    env_file:
      - ../../.env
    command: ["/app/monitor", "-f", "/app/etc/monitor.yaml"]


