services:
  gateway:
    image: alpine:latest
    restart: always
    ports:
      - 8080:8080
    env_file:
      - ../../.env
    command: ["/app/gateway", "-f", "/app/etc/gateway-api.yaml"]
    volumes:
      - ../../api/gateway/etc/gateway-api.yaml:/app/etc/gateway-api.yaml
      - ../../build/gateway:/app/gateway
    depends_on:
      - user
  oms:
    image: alpine:latest
    restart: always
    ports:
      - 8081:8081
    env_file:
      - ../../.env
    command: ["/app/oms", "-f", "/app/etc/oms-api.yaml"]
    volumes:
      - ../../api/oms/etc/oms-api.yaml:/app/etc/oms-api.yaml
      - ../../build/oms:/app/oms
    depends_on:
      - user
  user:
    image: alpine:latest
    ports:
      - 8881:8881
    env_file:
      - ../../.env
    command: ["/app/user", "-f", "/app/etc/user.yaml"]
    volumes:
      - ../../rpc/user/etc/user.yaml:/app/etc/user.yaml
      - ../../build/user:/app/user
  monitor:
    image: alpine:latest
    restart: always
    ports:
      - 8882:8882
    env_file:
      - ../../.env
    command: ["/app/monitor", "-f", "/app/etc/monitor.yaml"]
    volumes:
      - ../../rpc/monitor/etc/monitor.yaml:/app/etc/monitor.yaml
      - ../../build/monitor:/app/monitor

